<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Home</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
    <div id="navbar">
        <div id="link">
            <a class="link-item" href="">Home</a>
            <a class="link-item" href="/myBlogs">My Blogs</a>
            <a class="link-item" href="/Post">Post</a>
        </div>
        <div id="user">
            <% if (username) { %>
                <span>Welcome, <%= username %></span>
                <a href="/signOut">Sign Out</a>
            <% } else { %>
                <a href="/signIn"><button id="sign-in">Sign In</button></a>
            <% } %>
        </div>
        
    </div>
    <div id="content">
        <% blogs.forEach(blog => { %>
            <a href="/<%= blog.username %>/<%= encodeURIComponent(blog.title) %>"><div class="card">
                <% if (blog.thumbnail_path) { %>
                    <img src="<%= blog.thumbnail_path.replace('/public', '') %>" alt="">
                <% } else { %>
                    <!-- Provide a placeholder image or handle the absence of thumbnail_path -->
                    <div>
                        <p>No image available</p>
                    </div>
                <% } %>
                <p><%= blog.title %></p>
            </div></a>
        <% }); %>
    </div>
    
</body>

</html>
